{% for position in document.positions %}
<tr id="itemList_{{position.pos_nr}}">
  <td class="col-sm-1 col-md-1"><input class="item" type="hidden" name="item_{{position.pos_nr}}" id="item_{{position.pos_nr}}" value="{{position.pos_nr}}"><div class="pos" id = "pos_{{position.pos_nr}}">{{position.pos_nr}}</div></td>
  <td class="col-sm-2 col-md-2">
    <input type="hidden" name="itemid_{{position.pos_nr}}" id="itemid_{{position.pos_nr}}" value="{{position.item_id}}">
    <input type="hidden" name="optional_{{position.pos_nr}}" id="optional_{{position.pos_nr}}" value="{{position.optional}}">
    {% if position.optional=='true' %}
    <div id = "itemidtext_{{position.pos_nr}}">{{position.item_id}}<br><span class="label label-danger">Optional</span></div>
    {% else %}
    <div id = "itemidtext_{{position.pos_nr}}">{{position.item_id}}</div>
    {% endif %}

    </td>
  <td class="col-sm-3 col-md-4">
    <input type="hidden" name="name_{{position.pos_nr}}" id="name_{{position.pos_nr}}" value="{{position.name}}">
    <input type="hidden" name="description_{{position.pos_nr}}" id="description_{{position.pos_nr}}" value="{{position.description}}">
    <div id = "itemtext_{{position.pos_nr}}">{{position.name}}<br>
      {% if position.description%}
        {{position.description}}
      {% endif %}

    </div>
    </td>
  <td class="col-sm-2 col-md-2"><input type="text" class="maxlength-input form-control price" data-placement="bottom-right-inside" id="price_{{position.pos_nr}}" name="price_{{position.pos_nr}}" placeholder="" value="{{position.price}}">
  </td>
  <td class="col-sm-1 col-md-1">
    <input type="text" class="maxlength-input form-control amount" data-placement="bottom-right-inside" id="amount_{{position.pos_nr}}" maxlength="3" name="amount_{{position.pos_nr}}" placeholder="" value="{{position.amount}}">

  </td>
  <td class="col-sm-2 col-md-2">
    <input type="text" class="maxlength-input form-control" data-placement="bottom-right-inside" id="total_{{position.pos_nr}}" name="total_{{position.pos_nr}}" placeholder="" value="{{position.total}}" readonly="readonly">
  </td>
  <td class="col-sm-1 col-md-1">
    <a href=""><i class="btn btn-xs btn-outline btn-danger icon wb-minus removeItemField" aria-hidden="true" id="removeItemField_{{position.pos_nr}}"></i></a>

  </td>
  <td class="col-sm-1 col-md-1">
    <a href=""><i class="btn btn-xs btn-outline btn-primary icon wb-plus addItemField" aria-hidden="true" id="addItemField_{{position.pos_nr}}"></i></a>

  </td>
  <td class="col-sm-1 col-md-1">
    <a href=""><i class="btn btn-xs btn-outline btn-primary icon fa-comment addCommentField" aria-hidden="true" id="addCommentField_{{position.pos_nr}}"></i></a>

  </td>
  <td class="col-sm-1 col-md-1">
    <a href=""><i class="btn btn-xs btn-outline btn-primary icon wb-edit editItemField" aria-hidden="true" id="editItemField_{{position.pos_nr}}"></i></a>

  </td>
  <td class="col-sm-1 col-md-1">
    <a href="" data-target="#searchItemModal" data-toggle="modal"><i class="btn btn-xs btn-outline btn-primary icon fa-refresh searchItemField" aria-hidden="true" id="searchItemField_{{position.pos_nr}}"></i></a>
  </td>
</tr>
{% if position.comment !='' %}
<tr id="commentRow_{{position.pos_nr}}">
  <td colspan="6">
  <textarea style="resize:None;" class="form-control" id="comment_{{position.pos_nr}}" name="comment_{{position.pos_nr}}" rows="3" placeholder="">{{position.comment}}</textarea>
  </td>
  <td>
    <a href=""><i class="btn btn-xs btn-outline btn-danger icon wb-minus removeComment" aria-hidden="true" id="removeComment_{{position.pos_nr}}"></i></a>
    </td>
</tr>
{% endif %}
{% endfor %}
