# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Node
node_modules/
package-lock.json

# Environment Variables
.env
.env.*

# System Files
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Build/Distribution
dist/
build/
*.egg-info/

package-lock.json
